.wrapper-chat{

    margin-bottom: 10px;
    .author {
        margin-left: 5px;
        font-weight: bold;
      }
    
      .date {
        margin-left: 10px;
        font-size: 11px;
        color: #a7a7a7;
      }
    
      .content {
        margin-left: 10px;
        display: block;
        padding: 5px 10px;
        border-radius: 14px;
        background-color: rgb(69, 133, 251);
        color: white;
      }
}

